<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362834642673-a5gmuhk2kf0happp8nmo8db0asqjopop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362834642673-a5gmuhk2kf0happp8nmo8db0asqjopop</string>
	<key>API_KEY</key>
	<string>AIzaSyAUvrODSYclLE7lP4_WKTMgIkKbfTvNwVk</string>
	<key>GCM_SENDER_ID</key>
	<string>362834642673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.seonghooony.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-ab74e</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-ab74e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362834642673:ios:7be6223e132fa86a090b50</string>
</dict>
</plist>