<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194722914366-l0tousoni90560np3mrcjmna2uad7kfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194722914366-l0tousoni90560np3mrcjmna2uad7kfd</string>
	<key>API_KEY</key>
	<string>AIzaSyAbuQrnWudyBmVEjPdHR6DWWYp-hpfLXYk</string>
	<key>GCM_SENDER_ID</key>
	<string>194722914366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.seonghooony.FirebaseLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>fir-login-sample-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-sample-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194722914366:ios:3713bbf0b1c11dbcbc716f</string>
</dict>
</plist>